<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Histogram with D3</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/dynamic_distribution.css">
    <script>
      const NATS_URL = "{{ .NATSURL }}";
    </script>
    <script type="module" src="{{ .Endpoint }}/static/js/dynamic_distribution.js"></script>
  </head>
  <body>
    <svg width="600" height="400"></svg>
  </body>
</html>