<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Chart</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/line_chart.css">

    <!-- External Libraries -->
    <script src="https://d3js.org/d3.v6.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous" defer></script>

    <!-- Template Variables -->
    <script>
        const NATS_URL = {{ .NATSURL }};
    </script>

    <!-- Application Scripts -->
    <script type="module" src="{{ .Endpoint }}/static/js/config.js"></script>
    <script src="{{ .Endpoint }}/static/js/line_chart.js" type="module" defer></script>
</head>
<body>
    <main>
        <div id="loading">Loading a line chart...</div>
        <div id="plot"></div>
    </main>
</body>
</html>